/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&family=Raleway:ital,wght@0,100;0,200;0,400;0,600;1,800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  color: #333;
}

h1 {
  font-family: "Dancing Script", cursive;
  font-size: 2.5em;
  color: #008080;
}

a {
  text-decoration: none;
  color: #d4d3d3;
  transition: color 0.3s ease;
}

a:hover {
  color: #ff8c00;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: #008080;
}

body::-webkit-scrollbar-track {
  background-color: #122620;
}

/* Header CSS */

.header {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #122620;
  color: white;
  position: fixed;
  text-transform: capitalize;
  z-index: 100;
}

.logo {
  width: 10%;
  display: flex;
  height: 100%;
  justify-content: space-around;
  align-items: center;
}

.logo a {
  height: 100%;
}

#logoImg {
  height: 100%;
}

.bars {
  margin: 0;
  display: none;
}

.bars i {
  font-size: 1.5rem;
}

.dropdown-list {
  margin: 0;
  display: none;
  position: absolute;
  right: 3%;
  background-color: #122620;
  box-shadow: 0px 4px 8px 1px #535547;
}

.dropdown-list ul {
  margin: 0.2rem 0.2rem;
  text-align: left;
  padding: 0px 0.8rem;
  list-style-type: none;
}

.dropdown-menu:hover .dropdown-list {
  display: block;
  position: absolute;
  right: 3%;
}

.dropdown-list li {
  margin: 0.4rem 0px;
}

.bars:focus + .dropdown-list,
.dropdown-list:focus {
  display: block;
}

.horizontal-list {
  height: 70px;
  width: 100%;
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}

.horizontal-list li {
  margin: 0 10px;
}

.horizontal-list li a {
  text-decoration: none;
  color: white;
}

.horizontal-list li a:hover {
  text-decoration: none;
  color: orange;
  transition: 0.5s ease;
}

.resume-link {
  background-color: white;
  color: black;
  font-family: sans-serif;
  border-radius: 50px;
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

/* Sectional CSS */

section:not(#about) {
  width: 100%;
  min-height: 75vh;
}

section:nth-child(2n) {
  background-color: #f4f4f4;
}

section:nth-child(2n + 1) {
  background-color: white;
}

/* Home CSS */

#home {
  padding-top: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "Dancing Script", cursive;
  overflow: hidden;
  text-transform: capitalize;
  font-size: 50px;
  font-weight: 600;
  background-image: url(portfolioBGImg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 75vh;
  text-align: center;
}

.image {
  border-radius: 50%;
  width: 25%;
  overflow: hidden;
  position: relative;
}

.image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  transition: transform 0.5s ease;
}

.image:hover img {
  transform: scale(1.1);
}

/* About CSS */

#about {
  background-color: #f4f4f4;
  padding: 70px 50px;
  height: auto;
}

#about p {
  font-size: 1.6em;
  line-height: 1.6;
  color: #555;
  margin-bottom: 10px;
}

#about p::first-letter {
  color: orangered;
  font-size: 1.8em;
  margin-left: 15%;
}

/* Skills CSS */

#skills,
#education,
#experience {
  height: auto;
  padding: 70px 50px;
  margin-bottom: 30px;
}

#skills h2,
#education h2,
#experience h2,
#projects h2 {
  font-size: 2.5em;
  color: #008080;
  margin-bottom: 20px;
}

.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.skill-tile {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.skill-tile h3 {
  font-size: 1.4em;
  color: #333;
  margin-bottom: 10px;
}

.skill-tile p {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

/* Education CSS */

.event {
  display: flex;
  margin: 20px 0;
}

.university-image {
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 20px;
}

.university-image img {
  height: 100%;
}

.event-details {
  flex: 1;
}

.event-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.course-name {
  font-size: 1.4em;
  color: #333;
}

.courseSchool {
  display: flex;
  align-items: center;
  font-size: 1em;
  color: #555;
}

.courseSchool span {
  display: inline-block;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.courseSchool span img {
  height: 100%;
}

.courseCompletion {
  margin-top: 10px;
  font-size: 1em;
  color: #888;
}

.aboutStudy ul {
  list-style-type: none;
  line-height: 1.5;
  padding: 0;
}

.aboutStudy ul li {
  font-size: 1em;
  color: #666;
}

/* Experience CSS */

.allCompanies {
  display: flex;
  flex-direction: column;
}

.company-image {
  width: 30%;
}

.company-image img {
  width: 100%;
  height: 100%;
}

.role {
  font-size: 1.8em;
  color: #333;
}

.companyTitle {
  font-size: 0.9em;
  color: #555;
}

.companyTime {
  font-size: 0.9em;
  color: #888;
  margin-bottom: 10px;
}

.about ul {
  list-style-type: none;
  padding: 0;
}

.about ul li {
  font-size: 1em;
  color: #666;
}

.company:nth-child(even) {
  flex-direction: row-reverse;
  direction: rtl;
}

/* Projects CSS */

#projects {
  height: auto;
  padding: 40px;
  margin-bottom: 30px;
}

.projects-tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: -10px;
}

.project-tile {
  flex: 0 0 30%;
  margin: 10px;
  text-decoration: none;
  color: inherit;
  border: 2px solid #ddd;
  border-radius: 10px;
  height: auto;
  overflow: hidden;
  position: relative;
  transition: box-shadow 0.3s ease;
}

.project-tile:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.project-tile .preview {
  width: 100%;
  overflow: hidden;
  height: 100%;
}

.project-tile .preview img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-tile .about {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
  color: #333;
  padding: 10px;
}

.project-tile:hover .about {
  opacity: 1;
}

.project-tile .about h3 {
  font-size: 1.3em;
}

.project-tile .about p {
  display: none;
  font-size: 0.9em;
}

.project-tile:hover .about p {
  display: inline-block;
}

/* footer css */

#contact {
  width: 100%;
  padding: 30px 10%;
  background-color: #4a4a4a;
  font-family: "Montserrat", sans-serif;
  color: white;
}

.section-child {
  display: flex;
  justify-content: space-between;
}

#contact .footer-child a {
  font-size: 16px;
}

.footer-child {
  width: 50%;
  text-transform: capitalize;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: white;
}

@media screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }

  .horizontal-list {
    display: none;
  }

  .header {
    justify-content: space-around;
    height: 50px;
  }

  .bars:focus + .dropdown-list,
  .dropdown-list:focus {
    display: block;
  }

  .bars {
    display: block;
  }

  nav {
    position: relative;
    right: -12%;
  }

  .social-icons {
    display: block;
    bottom: 25%;
    position: fixed;
    background-color: #122620;
    height: 40%;
    left: 0;
    width: 40px;
    display: flex;
    flex-direction: column;
    border-radius: 0px 10px 10px 0px;
    padding: 3px;
  }

  .image {
    display: none;
  }

  #about p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-bottom: 10px;
  }

  .event-header {
    flex-direction: column;
    align-items: normal;
    margin-bottom: 10px;
  }

  .university-image {
    height: 55px;
  }

  .courseSchool span img {
    display: none;
  }

  .courseSchool {
    height: 20px;
  }

  .company-image {
    width: 50%;
  }

  .about ul {
    padding: 5px;
  }

  .about ul li {
    font-size: 1.05em;
  }

  #projects {
    padding-left: 50px;
  }

  .projects-tiles {
    margin: -10px;
    flex-direction: column;
  }

  .project-tile .preview img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .project-tile {
    flex: 0 0 100%;
    margin: 10px;
  }

  .project-tile .about {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    padding: 10px;
    opacity: 1;
  }

  .project-tile .about p {
    display: block;
  }

  #contact {
    padding: 30px 0px 30px 50px;
  }

  .section-child {
    flex-wrap: wrap;
    flex-direction: column;
  }

  .footer-child {
    width: 90%;
  }
}
